<div class="form_Wrapper container-fluid mainPage" ng-init="toCheckDefaultLogin()">

	<div class="row">
		<div class="col-sm-12 col-xs-12">
			<div class="col-sm-2"></div>
			<div class="col-sm-8">
				<div class="secretFriendTitle">
					<a href="#/home">
					<img src="img/logo1.png"class="img-responsive" alt=""
                	  width="10%" height="10%" >
          			</a>
          		</div>
                
				<div class="secretFriendTitle">
					<img src="img/SecretFriendTitle_new.png"
						class="img-responsive text-center" alt="" />
				</div>
			</div>
			<div class="col-sm-2"></div>
			<!-- <div class="logoTitleCls text-center"></div> -->
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-xs-12 sfLoginView">
			<div class="col-sm-2"></div>
			<div class="col-sm-8 secretFriendImgs">
				<div class="col-sm-6 paddingZero">
					<img class="img-responsive imgCenter"
						src="img/SecretFriendsAvatarBoy.png" alt="" style="" />
				</div>
				<div class="col-sm-6 paddingZero">
					<img class="img-responsive imgCenter"
						src="img/avatar_login_girl.png" alt="" style="" />
				</div>
			</div>
			<div class="col-sm-2"></div>
		</div>
	</div>

	<div class="row ">
		<div class="col-sm-12 col-xs-12 middleContent">
			<div class="col-sm-2"></div>
			<div class="col-sm-8 secretFriendImgs" align="center">

				<!-- <a href="#/login"><img alt="telephone"
				     	src="img/main_login_btn.png" class="btnH img-responsive imgCenter" /></a> -->
					
				<!-- Trigger the modal with a button -->
				<button type="button" class="btn  btn-lg loginButtonCls" data-toggle="modal" data-target="#loginModal"></button>
					<!-- Modal -->
					<div id="loginModal" class="modal fade" role="dialog">
					  <div class="modal-dialog">
						<div class="modal-content">
							 <!-- Modal content-->
						      <div class="modal-header" style="text-align: end;padding:5px !important;">
									<div class="row">
								      <div class="col-sm-12 col-xs-12">
								         <div class="col-sm-2"></div>
								         <div class="col-sm-8">
								         	<div class="secretFriendTitle">													
													<img src="img/logo1.png"class="img-responsive" alt=""
								                	  width="15%" height="15%" >
								                	<!-- <a href="#/home">
								          			</a> -->
								          	</div>
								         </div>
								         <div class="col-sm-2"><button type="button" class="btn btn-default" data-dismiss="modal">x</button></div>
								      </div>
								   </div>   
					      </div>
					      <div class="modal-body">
					       <div class="form_Wrapper container-fluid" ng-init="toCheckDefaultLogin()">							  
							   <div class="row" style="margin-top:20px;">
							      <div class="col-sm-12 col-xs-12">
							         <div class="col-sm-2"></div>
							         <div class="col-md-8 col-sm-8">
							            <form class="form-horizontal" role="form" name="loginForm" ng-controller="loginCtrl">
							               <div class="row">
							                  <div class="col-md-6 col-sm-6 col-xs-12 ">
							                     <div class="form-group">
							                        <div class="col-md-2 col-sm-2 col-xs-3 pull-left">
							                           <img alt="" src="img/email.png"
							                              class="img-responsive loginIcons" />
							                        </div>
							                        <div class="col-md-10 col-sm-10 col-xs-9">
							                           <input type="email" class="formControl form-control" id="email"
							                              name="user" ng-model="loginModel.email" placeholder="email"
							                              required />
							                        </div>
							                     </div>
							                  </div>
							                  <div class="col-md-6 col-sm-6 col-xs-12">
							                     <div class="form-group">
							                        <div class="col-md-2 col-sm-2 col-xs-3 pull-left">
							                           <img alt="" src="img/lock.png"
							                              class="img-responsive loginIcons" />
							                        </div>
							                        <div class="col-md-10 col-sm-10 col-xs-9">
							                           <input type="password" class="formControl form-control"
							                              id="pwd" name="password" ng-model="loginModel.password"
							                              placeholder="password" required />
							                        </div>
							                     </div>
							                  </div>
							                  <div class="form-group loginBtn_wrapper text-center">
							                     <button type="submit"  value="" class="btnH loginBtnNew"
							                        id="signInBtn" ng-click="doLogin(loginForm)"
							                        ng-disabled="loginForm.email.$dirty && loginForm.email.$invalid ||
							                        loginForm.password.$dirty && loginForm.password.$invalid"></button>
							                     <div id="loader" style="display: none;">
							                        <span 
							                           class="glyphicon glyphicon-refresh spinning text-center"></span>
							                        Loading...
							                     </div>
							                  </div>
							               </div>
							            </form>
							         </div>
							         <div class="col-sm-2"></div>
							      </div>
							   </div>
							   <div class="row">
							      <div class="col-sm-12 col-xs-12">
							         <div class="col-sm-2"></div>
							         <div class="col-sm-8 secretFriendImgs">
							            <div class="col-sm-6">
							               <img class="img-responsive imgCenter"
							                  src="img/avatar_login_boy.png" alt="" style="" />
							            </div>
							            <div class="col-sm-6">
							               <img class="img-responsive imgCenter"
							                  src="img/avatar_login_girl.png" alt="" style="" />
							            </div>
							         </div>
							         <div class="col-sm-2"></div>
							      </div>
							   </div>
							   <div id="le-alert" class="popUp alert alert-warn alert-block fade in" style="z-index: 1111;display: none;">
							      <div class="modalHeader">
							         <button type="button" class="close closeBtn" 
							            ng-click="toCloseAlert(this)"></button>
							         <h4 class="modalTitle">Secret Friend</h4>
							      </div>
							      <div id="messageTxt" class="modalBody">
							         <p></p>
							      </div>
							   </div>
					   		 <div class="modal-backdrop fade in" id="lightBoxBg" style="display: none;"></div>
					  
						   </div>
					       </div>
						     <!-- <div class="modal-footer">
						        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						     </div> -->
					    </div>
					
					  </div>
					</div>
					
			</div>

			<div class="col-sm-2"></div>
		</div>

	</div>

</div>
